* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    background-image: linear-gradient(to bottom right, #33475b, rgb(28, 61, 228), #0de859, rgb(92, 143, 93));
    /* background-image: linear-gradient(red, yellow, green); */
    background-repeat: no-repeat;

}


.registration-box {
    border: 2px solid black;
    border-radius: 5px;
    margin: auto;
    width: 300px;
    height: 350px;
    background-color: aliceblue;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.form-title {
    height:15%;
    background-color: #0af75d;
    text-align: center;
    padding: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
}
.form {
    height:70%;
    margin:auto;
    width:80%
}

.redirect-link {
    height:10%;
    color:red;
    font-family: 'Franklin Gothic Medium',
    'Arial Narrow',
    Arial,
    sans-serif;
}
.redirect-link p{
    margin:0
}

.input-email ,.input-password{
    margin:10px 0px 0px 0px;
    height:33.33%
}
.input-password {
    margin: 0px;
}
input {
    margin-top: 10px;
    width: 100%;
    height: 40px;
    border-radius: 5px;
}
input:focus {
    background-color: moccasin;
    color: rgb(4, 3, 3);
    font-size: 20px;
}



.submit input {
    margin-top: 10px;
    width: 100%;
    /* height: 40%; */
    font-size: large;
    border-radius: 100px;
    background-color: #1347e3;
    color: antiquewhite;
    cursor: pointer;
    border-color: #0af75d;
    border-width: 2px;
} 

.submit input:active {
    background-color: #0af75d;
    color: black
}

.redirect-link {
    width:80%;
    margin:auto;
    font-size:12px;
    text-align: center;
}
.redirect-link a {
    text-decoration-line: none;
    font-size: 15px;
}